.wrapper {
  margin: 24px auto;
  max-width:  800px;
}

.card {
  padding: var(--scale-200);
  background-color: var(--color-blue-200);
  width: 200px;
}

.choice-box {
    width: 90px;
    height: 90px;
}